[[source]]
name = "aliyun"
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false

[dev-packages]

[packages]
scrapy = "*"
mysqlclient = "*"
sqlalchemy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
flask = "*"

[requires]
python_version = "3.6"
